{
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 150,
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "singleAttributePerLine": true,
  "plugins": [],
  "singleQuote": true
}
